ion-content {
    --background: url('../../../assets/images/Ufavoursimages/Welcome-page.jpg') 0 0/100% 100% no-repeat;
}

ion-title.md.title-default.hydrated {
    text-align: center;
}

ion-grid {
    height: 100%;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

ion-row.row1.md.hydrated {
    background: #80808085;
}